name: Build Wheels

# Only run on new tags starting with `v`
# on:
#   push:
#     tags:
#       - 'v*'
on: push

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Install glm on linux
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        sudo apt install unzip wget
        # curl -s https://api.github.com/repos/g-truc/glm/releases/latest | grep download | grep zip | cut -d : -f 2,3 | tr -d \" | wget -qi -
        # unzip glm*.zip
        sudo apt-get install libglm-dev


    - name: set environment variables
      uses: allenevans/set-env@v1.1.0
      with:
        # Only build on CPython
        # PyPy on macos seems to be failing; see https://github.com/joerick/cibuildwheel/issues/402
        CIBW_BUILD: "cp36-* cp37-* cp38-*"
        # Run before build
        # CIBW_BEFORE_BUILD: python -m pip install numpy Cython pybind11
        CIBW_BEFORE_BUILD_MACOS: python -m pip install numpy Cython pybind11 && brew install glm
        # CIBW_BEFORE_BUILD_LINUX: yum install -y glm-devel
        CIBW_BEFORE_BUILD_LINUX: 'python -m pip install numpy Cython pybind11 && curl -s https://api.github.com/repos/g-truc/glm/releases/latest | grep download | grep zip | cut -d : -f 2,3 | tr -d " | wget -qi - && unzip glm*.zip'
        # CIBW_BEFORE_ALL_LINUX: apt-get install libglm-dev
        CIBW_ENVIRONMENT_LINUX: CIBW_LINUX_INCLUDE=./glm/glm
        # CIBW_BEFORE_TEST: python -m pip install numpy Cython '.[test]'
        # # run the package tests using `pytest`
        # CIBW_TEST_COMMAND: pytest

    - uses: actions/setup-python@v1
      name: Install Python
      with:
        python-version: '3.7'

    - name: Install cibuildwheel
      run: |
        python -m pip install cibuildwheel==1.6.1

    - name: Install Visual C++ for Python 2.7
      if: startsWith(matrix.os, 'windows')
      run: |
        choco install vcpython27 -f -y

    - name: Build wheel
      run: |
        python -m cibuildwheel --output-dir wheelhouse

    - uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: ./wheelhouse

    # - name: Publish wheels to PyPI
    #   env:
    #     TWINE_USERNAME: __token__
    #     TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
    #   run: |
    #     python -m pip install twine
    #     twine upload wheelhouse/*.whl
